@import url('https://fonts.googleapis.com/css?family=Quicksand');

body {
  background-color: #282c34;
  font-family: Quicksand;
}

main {
  height: 100%;
}

p {
  z-index: 1;
}

.container {
  width: 80%;
  /* border: 1px solid whitesmoke; */
}

hr {
  background-color: whitesmoke;
  margin: 0;
  height: 1;
}

.App-logo {
  animation: App-logo-spin infinite 2s linear;
  height: 40vmin;
}

.Center, .col {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Center {
  font-size: calc(16px + 2vmin);
  color: whitesmoke;
  background-color: #282c34;
  min-height: 88vh;
}

/* .Nav {

} */

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
