@import url("https://fonts.googleapis.com/css?family=Quicksand");

@import url("https://fonts.googleapis.com/css?family=Dosis");

.space-all-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}
.space-even-row {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.center-all-row {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.center-all-col {
  /* width: 100%; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.left-all-col {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.left-all-row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}

.shadow-card {
  box-shadow: -2px 2px 3px 1px rgba(24, 24, 24, 0.2);
}

body {
  background: url("./assets/images/background.png") no-repeat;
  background-size: 1200px;
  background-position: 0% 0%;
  background-attachment: fixed;
  color: black;
  font-family: Quicksand;
  overflow-x: hidden;
}

.App {
  max-width: 800px;
  min-height: 100vh;
  margin: auto auto;
  background-color: rgba(255, 255, 255, 0.335);
}

/* Animations for the HomePage - dancing icons */
/* @-webkit-keyframes bg-dna {
  20% {
    transform: rotateY(180deg) translateX(50vw);
  }

  70% {
    transform: translateX(-30vw);
  }
  80% {
    transform: translateX(-20vw);
  }
} */
@keyframes bg-dna {
  0% {
    transform: translateX(0px);
  }
  30% {
    transform: translateX(0px);
  }
  40% {
    transform: rotateY(180deg) translateX(50vw);
  }
  70% {
    transform: translateX(-30vw);
  }
  80% {
    transform: translateX(-20vw);
  }
  90% {
    transform: translateX(-10vw);
  }
}


@keyframes bg-comp {
  30% {
    transform: translateX(10px);
  }
  35% {
    transform: translateX(-50vw) rotate(10deg);
  }
  45% {
    transform: translateX(0px) rotate(0deg);
  }

  /* 50% { */
  /* transform: rotate(0deg); */
  /* } */
  70% {
    transform: rotate(0deg);
  }
  80% {
    transform: rotate(15deg);
  }
  82% {
    transform: rotate(-15deg);
  }
  84% {
    transform: rotate(15deg);
  }
  85% {
    transform: rotate(-15deg);
  }
  86% {
    transform: rotate(15deg);
  }
  87% {
    transform: rotate(-15deg);
  }
  88% {
    transform: rotate(15deg);
  }
  89% {
    transform: rotate(-15deg);
  }
  90% {
    transform: rotate(15deg);
  }
  91% {
    transform: rotate(-15deg);
  }
  92% {
    transform: rotate(15deg);
  }
  93% {
    transform: rotate(-15deg);
  }
  95% {
    transform: rotate(15deg);
  }
  97% {
    transform: rotate(-15deg);
  }
  99% {
    transform: rotate(15deg);
  }
}

/* On the HomePage */
.animation-dna,
.animation-comp {
  font-size: 55px;
  animation-duration: 6s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
  animation-play-state: running;
}
.animation-dna {
  color: rgb(25, 0, 134);  
  animation-name: bg-dna;
}

.animation-comp {
  background: -webkit-gradient(linear, left top, right bottom, from(rgb(47, 137, 255)), to(rgb(26, 8, 66)));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  animation-name: bg-comp;
}

/* on the PortfolioPage */
.card {
  height: 100%;
}
.card-img {
  height: 100%;
  /* width: 100%  */
}








hr {
  border: 0;
  margin: 0 auto 8px auto;
  clear: both;
  display: block;
  width: 80%;
  background-color: rgba(160, 159, 159, 0.383);
  height: 1px;
}


p {
  z-index: 1;
}

/* no underlines for links */
a:hover,
a:focus,
a:active {
  text-decoration: none;
  /* color: rgb(231, 111, 42); */
  /* font-weight: bolder; */
}

/* for no padding between bootstrap cols */
.padding-0 {
  padding-right: 0;
  padding-left: 0;
}

.container {
  /* width: 80%; */
  transition: opacity 1s ease-in-out;
  /* border: 1px solid whitesmoke; */
}

.Center,
.col {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Center {
  font-size: calc(16px + 2vmin);
}



/*  set transition for transforms*/
.grow,
.grow-text,
.send-button,
.sent-button,
.blink,
.fa,
.fas {
  transition: all 0.3s ease;
}
.shift-text {
  transition: all 0.5s ease;
}


/* for the skills list on the about page */
.grow-text:hover {
  -webkit-transform: translateX(8px);
  -ms-transform: translateX(8px);
  transform: translateX(8px);
  color: rgba(140, 20, 161, 0.85);
  /* margin-left: 30px; */
}
/* for the individual tools hovering on modals */
.shift-text:hover {
  -webkit-transform: rotateX(-360deg);
  -ms-transform: rotateX(-360deg);
  transform: rotateX(-360deg);
  color: rgba(140, 20, 161, 0.85);
}
/* for the send email button */
.fa-envelope, .fa-check, .fa-spin {
  font-size: 45px;
  margin: 0;
  color: rgb(25, 0, 134);  
}
.send-button:hover {
  -webkit-transform: translateX(-10px);
  -ms-transform: translateX(-10px);
  transform: translateX(-10px);
}
/* for the send email button when sending email  */
.sent-button {
  color: rgb(19, 1, 100);
  -webkit-transform: translateX(8vw);
  -ms-transform: translateX(8vw);
  transform: translateX(8vw);
}
.sent-button:focus,
.sent-button:active:focus,
.sent-button.active:focus,
.send-button:focus,
.send-button:active:focus,
.send-button.active:focus {
  outline: none;
  box-shadow: none;
}

/* icons on the contact page (social icons) */
.blink-grey:hover {
  color: rgb(145, 146, 146);
}
.blink-orange:hover {
  color: rgb(235, 135, 69);
}
.blink-green:hover {
  color: rgb(62, 206, 74);
}
.blink-blue:hover {
  color: rgb(61, 171, 245);
}
.blink-purple:hover {
  color: rgb(199, 69, 250);
}
.blink:active {
  /* color: white; */
  -webkit-transform: translateY(10px);
  transform: translateY(10px);
}

/* icons on the about page */
.flip-on-start,
.flip-top {
  transition: all 0.5s ease;
}

.flip-vertical-left:hover {
  -webkit-transform: rotateY(-360deg);
  -ms-transform: rotateY(-360deg);
  transform: rotateY(-360deg);
  color: rgb(26, 141, 248);
}
.flip-top:hover {
  -webkit-transform: rotateX(-180deg);
  -ms-transform: rotateX(-180deg);
  transform: rotateX(-180deg);
  /* color: rgb(26, 141, 248); */
}
.grow-blue:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
  color: rgb(26, 141, 248);
}
.pour:hover {
  -webkit-transform: rotate(60deg);
  -ms-transform: rotate(60deg);
  transform: rotate(60deg);
  color: rgb(26, 141, 248);
}

.rotate:hover {
  -webkit-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  transform: rotate(360deg);
  color: rgb(26, 141, 248);
}

.rotate-quarter:hover {
  -webkit-transform: rotate(90deg) rotateY(-180deg);
  -ms-transform: rotate(90deg) rotateY(-180deg);
  transform: rotate(90deg) rotateY(-180deg);
  color: rgb(26, 141, 248);
}

/* about page title */
.about-title {
  -webkit-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  transform: rotate(360deg);
}

/* the shimmer effect on the about page */
.shimmer {
  display: inline-block;
  /* color: black; */

  background: rgb(28, 5, 54) -webkit-gradient(linear, 50% 0, 0 0, from(#5d48a3), color-stop(0.5, #80778b), to(#3e3649));

  background-position: -4rem top; /*50px*/
  background-repeat: no-repeat;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  animation-name: shimmer;
  -webkit-animation-name: shimmer;
  animation-duration: 6s;
  -webkit-animation-duration: 6s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-background-size: 4rem 100%; /*50px*/
  background-size: 4rem 100%; /*50px*/
}

@-webkit-keyframes shimmer {
  0% {
    background-position: -4rem top; /*50px*/
  }

  70% {
    background-position: 12.5rem top; /*200px*/
  }

  100% {
    background-position: 12.5rem top; /*200px*/
  }
}
@keyframes shimmer {
  0% {
    background-position: -4rem top; /*50px*/
  }

  70% {
    background-position: 12.5rem top; /*200px*/
  }

  100% {
    background-position: 12.5rem top; /*200px*/
  }
}

/* for fontAwesome icon's gradient appearance on the home page */
.fa-gradient-left {
  background: -webkit-gradient(linear, left top, right bottom, from(rgb(103, 58, 183)), to(rgb(77, 208, 225)));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 90px;
}
.fa-gradient-right {
  background: -webkit-gradient(linear, right top, left bottom, from(rgb(103, 58, 183)), to(rgb(77, 208, 225)));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 90px;
}

/* for the ReactCSSTransitionGroup animations */
.example-enter {
  opacity: 0.1;
}

.example-enter.example-enter-active {
  opacity: 1;
  transition: opacity 300ms ease-in;
}

.example-leave {
  opacity: 0.5;
}

.example-leave.example-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

/* For the background switch on the home page */
.animation-bg {
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  /* background: #4DD0E1; */
}

.biologist-bg {
  color: black;
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: url(./assets/images/Snap-619.jpg) no-repeat;
  background-size: cover;
}

.developer-bg {
  color: black;
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: url(./assets/images/developer-bg.jpg) no-repeat;
  background-size: cover;
}

/* Reactstrap Modals */
body.modal-open {
  overflow: visible;
  padding-right: 0 !important;
}
.modal-xl {
  /* margin: 0px; */
  padding: 1vw;
  max-width: 750px;
}
.modal-body {
  padding: 15px;
  background-color: whitesmoke;
}
.modal-body,
.modal-header,
.modal-footer {
  background-color: rgb(243, 243, 243);
}
.fa-times {
  transition: all 0.3s ease;
}
.fa-times:hover {
  cursor: pointer;
  color: silver;
}

/* Navigator component */
.fixed-bottom {
  width: 100%;
  max-width: 600px;
  margin: auto auto;
}
.nav {
  /* box-shadow: -3px 3px 4px 2px rgba(24, 24, 24, 0.5);   */
  margin: 10px;
  padding: 10px;
  /* border-radius: 20px; */
}
.nav-item, .nav-icon, .nav-text {
  transition: all 0.3s ease;
}
.nav-item {
  min-width: 50px;
  box-shadow: -2px 2px 3px 2px rgba(24, 24, 24, 0.5);  
  border-radius: 35px;
  padding: 10px;
  color: rgb(231, 231, 231);
  background-color: rgb(19, 1, 100);
  margin: 8px;
  margin-bottom: 0px;
}
.nav-item:hover {
  color: silver;
  transform: translateX(5px) translateY(-5px)
}
.nav-text {
  font-size: 12px;
  font-weight: bolder;
  margin: 0;
  color: rgb(231, 231, 231);

}
.nav-icon {
  font-size: 28px;
  /* color: rgb(231, 231, 231); */
}
/* .nav-icon:hover {
  color: silver
} */
.dropdown {
  border-radius: 50px;
  padding: 2px;
  align-self: flex-end
}
.dropdown-menu {
  transition: all 0.3s ease;
  margin: 10px;
  border-radius: 5px;
  background-color: rgb(19, 1, 100);
}
.dropdown-item {
  transition: all 0.3s ease;
  padding: 4px 0px;
  width: 80%;
  margin: auto auto;
  border-radius: 5px;
}
.dropdown-item:hover {
  background-color: rgb(9, 1, 48);  
}
.fa-compass {
  margin: 0;
  padding: 2px;
}
.dropdown-item:hover,
.dropdown-item:focus:active,
.dropdown-item:active {
  background-color: none;
}

/* for the Nav Bar hovering */
.nav-item:hover, .dropdown-item:hover {
  text-decoration: none;
  color: rgb(148, 148, 148);
}